.bundle
.DS_Store
log/*.log
log/*.lck
tmp/**/*
tmp/restart.txt
db/*.sqlite3
public/system/**/**/**/*
public/assets
.idea/*
.sass-cache/**/*
*.swp
.redcar
solr/data
config/sunspot.yml
config/database.yml
db/data.yml
config/settings/custom.yml
