= title 'About Team Sabaku'

= content do
  %ul{'data-role'=>"listview", 'data-inset'=>"true" }
    %li{'data-role'=>"list-divider"}
      Team
    %li
      Jiten Bhagat
    %li
      Kees Burger
    %li
      Helena Deus
    %li
      Alvaro Graves
    %li
      Andra Waagmeester